# Node modules
node_modules/

# Prettier cache
.prettier-cache/

# Editor settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Astro build artifacts
.astro/
dist/
