---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const buttonClasses =
  'inline-flex items-center justify-center px-8 py-3 text-xl font-sans font-medium leading-tight bg-transparent text-main border-2 border-main rounded-full transition-all duration-200 hover:bg-main hover:text-bg-main hover:scale-105 focus:outline-none focus:ring-2 focus:ring-main focus:ring-offset-2';
---

{
  href ? (
    <a href={href} class:list={[buttonClasses, className]} {...rest}>
      <slot />
    </a>
  ) : (
    <button class:list={[buttonClasses, className]} {...rest}>
      <slot />
    </button>
  )
}
