---
import siteConfig from '../data/site-config';
---

<header
  class="w-full max-w-full mx-auto sm:my-4 py-4 border-t border-b border-dashed border-main"
>
  <div class="max-w-full text-left mx-auto">
    {
      siteConfig.logo && siteConfig.logo?.src ? (
        <a href="/">
          <img
            src={siteConfig.logo.src}
            alt={siteConfig.logo.alt || ''}
            class="max-h-12"
          />
        </a>
      ) : (
        <a
          class="font-serif text-2xl leading-tight font-medium text-theme-foreground"
          href="/"
        >
          {siteConfig.title}
        </a>
      )
    }
    {
      siteConfig.subtitle && (
        <p class="text-lg leading-tight mt-1">{siteConfig.subtitle}</p>
      )
    }
  </div>
</header>
