---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto sm:my-4 py-4 border-t border-b border-dashed border-main">
    
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <a class="font-serif text-3xl leading-tight font-medium text-theme-foreground sm:text-3xl" href="/">
                {siteConfig.title}
            </a>
        )
    }
    {siteConfig.subtitle && <p class="text-lg leading-tight mt-1">{siteConfig.subtitle}</p>}
</header>
