---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';

type Props = {
  project: CollectionEntry<'projects'>;
  class?: string;
  headingLevel?: 'h2' | 'h3';
};

const { project, class: className, headingLevel = 'h2' } = Astro.props;
const { title, timeperiod, company, description } = project.data;
const TitleTag = headingLevel;
---

<a
  class:list={[
    'flex justify-between items-start gap-8 group transition-all duration-200',
    className
  ]}
  href={`/projects/${project.id}/`}
>
  <div class="grow">
    <TitleTag
      class="text-2xl leading-tight font-sans font-semibold group-hover:underline group-hover:underline-offset-4 sm:text-3xl"
    >
      {title}
    </TitleTag>
    {(company || timeperiod) && (
      <div class="mt-3 text-lg leading-relaxed">
        {company && <span class="font-medium">{company}</span>}
        {company && timeperiod && <span class="opacity-80"> | </span>}
        {timeperiod && <span class="opacity-80">{timeperiod}</span>}
      </div>
    )}
  </div>
  <div
    class="font-sans text-lg opacity-0 transition-opacity group-hover:opacity-100 inline-flex gap-1 items-center shrink-0"
  >
    View More <ArrowRight class="fill-current w-4 h-4" />
  </div>
</a>
