---
import type { GetStaticPathsOptions, Page } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pagination from "../../components/Pagination.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import siteConfig from "../../data/site-config";
import { sortItemsByDateDesc } from "../../utils/data-utils";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const projects = (await getCollection("projects")).sort(sortItemsByDateDesc);
  return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<"projects">> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  <div class="mb-16 sm:mb-24 lg:max-w-5xl max-w-full mx-auto">
    <h1
      class="text-4xl font-serif font-medium underline tracking-tight mb-12 sm:text-5xl sm:mb-16"
    >
      Work Experiences
    </h1>
    {
      portfolio.map((project) => (
        <ProjectPreview project={project} class="mb-6 sm:mb-8" />
      ))
    }
    <Pagination page={page} class="mt-16 sm:mt-24" />
  </div>
</BaseLayout>
